root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{js,json,yml}]
indent_style = space
indent_size = 2

[*.{css,scss}]
indent_style = space
indent_size = 2

[*.{md,markdown}]
indent_style = space
indent_size = 2

[*.{html,htm}]
indent_style = space
indent_size = 2
