/.yarn/**                       linguist-vendored
/.yarn/releases/*               binary
/.yarn/plugins/**/*             binary
/.pnp.*                         binary linguist-generated
*.psd                           binary
*.png                           binary
*.mp4                           binary
*.zip                           binary
