:global body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  background: #282828;
  color: #eee;
  scrollbar-width: thin;
  scrollbar-color: #757575 #3c3c3c;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  gap: 15px;
  user-select: none;

  h2 {
    text-align: center;
  }
}

.header {
  margin-bottom: 0;
  width: 100%;

  h2 {
    margin: 0;
  }
}

.separator {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
  height: 1px;
  border: none;
  background: #636363;
}

.logo {
  @media (max-width: 500px) {
    display: none;
  }
}
