@import "_table.css";

:root {
  --sidebar-width: 25%;
  --v-padding: 15px;
  --h-padding: 20px;
}

html,
body {
  font-size: 15px;
  margin: 0;
  background: #282828;
  color: #eee;
  scrollbar-width: thin;
  scrollbar-color: #757575 #3c3c3c;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;

  .wrapper {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2em;

    .page-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
      }

      .links {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #a8c7fa;

  &:hover {
    color: #b3ceff;
  }
}

.section {
  display: flex;
  flex-direction: column;

  .header {

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  height: 66px;
  width: 66px;
  background: url(https://raw.githubusercontent.com/evg4b/modern-json-formatter/main/.github/readme-logo.png) no-repeat center;
  background-size: contain;
}

button {
  height: 20px;
  border-radius: 15px;
  background: transparent;
  color: #a8c7fa;
  border: 1px solid #a8c7fa;
  cursor: pointer;

  &:hover {
    background: #a8c7fa;
    color: #282828;
  }
}
