body {
    background: var(--background);
    color: var(--base-text-color);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 15px;
    scrollbar-width: thin;
    scrollbar-color: #757575 #3c3c3c;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}