:host {
  display: flex;
  flex-direction: row;
  gap: 5px;

  input {
    min-width: 200px;
    width: 30vw;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;

    .error-message {
      position: absolute;
      top: calc(100% + 5px);
      color: red;
      font-size: 10px;

      &.hidden {
        display: none;
      }
    }
  }
}
