.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}


.flexJustifyCenter {
  justify-content: center;
}

.flexJustifyStart {
  justify-content: flex-start;
}

.flexJustifyEnd {
  justify-content: flex-end;
}

.flexJustifySpaceBetween {
  justify-content: space-between;
}

.flexJustifySpaceAround {
  justify-content: space-around;
}

.flexJustifySpaceEvenly {
  justify-content: space-evenly;
}

.flexAlignCenter {
  align-items: center;
}

.flexAlignStart {
  align-items: flex-start;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexAlignStretch {
  align-items: stretch;
}

.flexAlignBaseline {
  align-items: baseline;
}
