.content:global {
  display: flex;
  flex-direction: column;
  padding: var(--v-padding) var(--h-padding) var(--v-padding) calc(var(--sidebar-width) + var(--h-padding));
  gap: 25px;

  h3 {
    margin: 50px 0 20px 0;
  }

  h4.examples {
    margin: 5px 0;
    font-weight: 400;
  }

  pre {
    display: block;
    color: #a8c7fa;
    font-family: monospace;
    padding: 10px 10px;
    border-radius: 3px;
    background: #3c3c3c;
    overflow: auto;

    code {
      padding: 0;
      margin: 0;
    }
  }

  .d-print-block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    table {
      width: 100%;
      text-align: left;
      background: #3c3c3c;
      padding: 10px 10px;
      border-radius: 5px;

      th,
      td {
        padding: 5px 10px;
      }

      th {
        color: #696969;
        font-weight: 400;
        user-select: none;
      }

      td.font-monospace {
        font-family: monospace;
        font-weight: 400;
        color: #a8c7fa;
      }
    }

    .pe-3 {
      width: 65px;
    }
  }
}
