@import "../core/styles/variables";
@import "../core/styles/scroll-bars";

body {
  @include variables();
  @include scroll-bars();

  background: var(--background);
  color: var(--base-text-color);
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-size: 15px;
  /*background: #282828;*/
  /*color: #eee;*/
  scrollbar-width: thin;
  font-family: sans-serif;


}
