:global :root {
  --sidebar-width: 25%;
  --v-padding: 15px;
  --h-padding: 20px;
}

:global html,
:global body {
  font-size: 15px;
  margin: 0;
  background: #282828;
  color: #eee;
  scrollbar-width: thin;
  scrollbar-color: #757575 #3c3c3c;
  font-family: sans-serif;
}

:global * {
  box-sizing: border-box;
}

:global a {
  color: #a8c7fa;

  &:hover {
    color: #b3ceff;
  }
}

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  padding: var(--v-padding) var(--h-padding);
  padding-left: 0;
  position: fixed;
  overflow-y: scroll;
}

:global .sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  padding: var(--v-padding) var(--h-padding);
  padding-left: 0;
  position: fixed;
  overflow-y: scroll;

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    user-select: none;

    .logo {
      height: 66px;
      background: url(https://raw.githubusercontent.com/evg4b/modern-json-formatter/main/.github/readme-logo.png)
      no-repeat center;
      background-size: contain;
    }

    .name {
      text-align: center;
      font-weight: 600;
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  display: flex;
  flex-direction: column;
  gap: 4px;

  a:not(.button-link),
  a:not(.button-link):hover {
    text-decoration: none;
  }

  a:not(.button-link):hover {
    background: #6e6e6e;
  }

  .item {
    border-radius: 0 30px 30px 0;
    padding: 5px 10px;
    color: #eee;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .children.section {
    a.item {
      padding-left: 30px;
    }
  }

  a.active {
    background: #7cacf8;
    color: #282828;
  }
}

:global main {
  display: flex;
  flex-direction: column;
  padding: var(--v-padding) var(--h-padding) var(--v-padding) calc(var(--sidebar-width) + var(--h-padding));
  gap: 25px;

  h3 {
    margin: 50px 0 20px 0;
  }
}

:global h4.examples {
  margin: 5px 0;
  font-weight: 400;
}

:global code {
  color: #a8c7fa;
  font-family: monospace;
  padding: 1px 5px;
  border-radius: 3px;
  background: #3c3c3c;
}

:global pre {
  display: block;
  color: #a8c7fa;
  font-family: monospace;
  padding: 10px 10px;
  border-radius: 3px;
  background: #3c3c3c;
  overflow: auto;

  code {
    padding: 0;
    margin: 0;
  }
}

:global p {
  line-height: 1.5em;
}

:global ol p,
:global ul p {
  margin: 5px 0;
}

:global .d-print-block {
  display: flex;
  flex-direction: column;
  gap: 10px;

  table {
    width: 100%;
    text-align: left;
    background: #3c3c3c;
    padding: 10px 10px;
    border-radius: 5px;

    th,
    td {
      padding: 5px 10px;
    }

    th {
      color: #696969;
      font-weight: 400;
      user-select: none;
    }

    td.font-monospace {
      font-family: monospace;
      font-weight: 400;
      color: #a8c7fa;
    }

    td.fst-italic {
      font-style: italic;
      color: dimgray;
    }
  }

  .pe-3 {
    width: 65px;
  }
}

.test {
  background: red;
}
