:global :root {
  --sidebar-width: 25%;
  --v-padding: 15px;
  --h-padding: 20px;
}

:global html,
:global body {
  font-size: 15px;
  margin: 0;
  background: #282828;
  color: #eee;
  scrollbar-width: thin;
  scrollbar-color: #757575 #3c3c3c;
  font-family: sans-serif;
}

:global * {
  box-sizing: border-box;
}

:global a {
  color: #a8c7fa;

  &:hover {
    color: #b3ceff;
  }
}

:global code {
  color: #a8c7fa;
  font-family: monospace;
  padding: 1px 5px;
  border-radius: 3px;
  background: #3c3c3c;
}

:global p {
  line-height: 1.5em;
}

:global ol p,
:global ul p {
  margin: 5px 0;
}
