:root {
  --sidebar-width: 25%;
  --v-padding: 15px;
  --h-padding: 20px;
}

html,
body {
  font-size: 15px;
  margin: 0;
  background: #282828;
  color: #eee;
}

* {
  box-sizing: border-box;
}

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  padding: var(--v-padding) var(--h-padding);
  padding-left: 0;
  position: fixed;
  overflow-y: scroll;

  .sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-input: none;
    user-select: none;

    img {
      width: 60%;
      max-width: 80px;
      user-input: none;
      user-select: none;
    }
  }

  display: flex;
  flex-direction: column;
  gap: 4px;

  a,
  a:hover {
    text-decoration: none;
  }

  a:hover {
    background: #6e6e6e;
  }

  .item {
    //background: #3b3073;
    border-radius: 0 15px 15px 0;
    padding: 5px 10px;
    color: #eee;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 2px;

    //background: #6e6e6e;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .children.section {
    //margin-left: 15px;

    a.item {
      padding-left: 30px;
    }
  }

  a.active {
    background: #7cacf8;
    color: #282828;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: var(--v-padding) var(--h-padding) var(--v-padding) calc(var(--sidebar-width) + var(--h-padding));
}

code {
  background: #43376e;
  color: #eee;
  padding: 1px 3px;
  border-radius: 3px;
}

.d-print-block {
  //background: #3c3c3c;
  //padding: 10px 10px;
  //border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  table {
    width: 100%;
    text-align: left;
    background: #3c3c3c;
    padding: 10px 10px;
    border-radius: 5px;

    th, td {
      padding: 5px 10px;
    }

    td {
      font-family: monospace;
    }
  }

  .pe-3 {
    width: 100px;
  }
}
