@import "../core/styles/variables";

body {
    background: var(--background);
    color: var(--base-text-color);
    min-height: 100vh;
    padding: 0;
    margin: 0;

    font-size: 15px;
    /*background: #282828;*/
    /*color: #eee;*/
    scrollbar-width: thin;
    scrollbar-color: #757575 #3c3c3c;
    font-family: sans-serif;

    @include variables()
}