$indentation: 30px;

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'),
  url('chrome-extension://__MSG_@@extension_id__/Monaco.woff') format('woff');
}

:host {
  display: flex;
  flex-direction: column;
  padding: $indentation;
  font-family: 'Monaco', Arial, sans-serif;
  background: #282828;
  color: #eeeeee;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;

  pre {
    margin: 0;
    padding: 0;
    text-wrap: pretty;
    word-wrap: break-word;
    font-family: 'Monaco', Arial, sans-serif;
    font-size: 14px;
  }
}

pre {
  margin: 0;
  padding: 0;
}

.bracket {
  color: #eeeeee;
}

.object {
  display: inline;

  .inner {
    padding-left: $indentation;
    display: block;
    border-left: 1px dotted #3b3b3b;

    .property {
      display: block;
      margin: 2px 0 2px 0;

      &.collapsed {
        & > .object,
        & > .array {
          .inner {
            display: none;
          }

          .ellipsis {
            display: inline;
          }

          & > .items-count,
          & > .properties-count {
            display: inline;
          }
        }
      }
    }
  }
}

.root {
  display: block;
  --link-decoration: none;
  --link-cursor: auto;

  &.active-links {
    --link-decoration: underline;
    --link-cursor: pointer;
  }

  &.padding {
    margin-left: 17px;
  }

  &.collapsed {
    & > .object,
    & > .array {
      .inner {
        display: none;
      }

      .ellipsis {
        display: inline;
      }

      & > .items-count,
      & > .properties-count {
        display: inline;
      }
    }
  }
}

.array {
  display: inline;

  .inner {
    padding: 2px 0 2px $indentation;
    border-left: 1px dotted #3b3b3b;
    display: block;

    .item {
      display: block;
      margin: 2px 0 2px 0;

      &.collapsed {
        & > .object,
        & > .array {
          .inner {
            display: none;
          }

          .ellipsis {
            display: inline;
          }

          & > .items-count,
          & > .properties-count {
            display: inline;
          }
        }
      }
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
  color: #6e6e6e;
  user-select: none;
  pointer-events: none;
  padding: 5em 0;

  img {
    width: 80%;
    max-width: 250px;
    user-select: none;
    pointer-events: none;
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c6c6c;
    transition: all 150ms ease;

    &:hover {
      color: #b0b0b0;
    }
  }
}

.loader {
  display: none;
}

.loading .loader {
  display: block;
  width: 30px;
  height: 30px;
  position: fixed;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid #3b3b3b; /* Light grey */
  border-top: 5px solid #eeeeee; /* Blue */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
