:host > .root-container.formatted {
  & > .formatted-json-container {
    display: block;
  }

  & > .raw-json-container,
  & > .query-json-container {
    display: none;
  }
}

:host > .root-container.raw {
  & > .raw-json-container {
    display: block;
  }

  & > .formatted-json-container,
  & > .query-json-container {
    display: none;
  }
}

:host > .root-container.query {
  & > .query-json-container {
    display: block;
  }

  & > .raw-json-container,
  & > .formatted-json-container {
    display: none;
  }
}
