@use '../src/core/styles/variables' as *;

:root {
  @include variables;
}

body {
  background-color: var(--background);
  color: var(--base-text-color);
  font-family: monospace;
  margin: 0;
  padding: 16px;
}
