.button {
  border: 1px solid #a8c7fa;
  color: #a8c7fa;
  border-radius: 30px;
  padding: 3px 10px;
  background-color: transparent;
  user-select: none;

  transition-property: color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in;

  &:hover {
    cursor: pointer;
    border-color: #a8c7fa;
    color: #282828;
    background-color: #a8c7fa;
  }
}
