@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$indentation: 20px;

:host {
  display: flex;
  flex-direction: column;
  padding: $indentation;
  font-family: "Roboto", Arial, sans-serif;
  background: #282828;
  color: #eeeeee;
  font-size: 14px;
}

.bracket {
  margin: 0 2px;
  color: #eeeeee;
}

.object {
  display: inline;

  .inner {
    padding-left: $indentation;
    display: block;
    border-left: 1px dotted #3b3b3b;

    .property {
      display: block;
    }
  }
}

.array {
  display: inline;

  .inner {
    padding-left: $indentation;
    display: block;

    .item {
      display: block;
    }
  }
}

.string {
  color: #5dd9ff;
}

.boolean,
.number {
  color: #9f84ff;
}

.key {
  color: #7dadf9;
}

.null {
  color: #717171;
}

.colon {
  margin: 0 4px 0 2px;
  color: #eeeeee;
}

.array-handler {
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  transition: all 0.3s;

  &:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6.9px;
    border-color: transparent transparent transparent currentColor;
  }

  &:hover {
    transform: rotate(90deg);
  }
}
