$indentation: 20px;

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('chrome-extension://__MSG_@@extension_id__/Monaco.woff') format('woff');
}

:host {
  display: flex;
  flex-direction: column;
  padding: $indentation;
  font-family: "Monaco", Arial, sans-serif;
  background: #282828;
  color: #eeeeee;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;

  pre {
    margin: 0;
    padding: 0;
    text-wrap: pretty;
    word-wrap: break-word;
    font-family: "Monaco", Arial, sans-serif;
    font-size: 12px;
  }

  & > .root-container.formatted {
    & > .raw-json-container {
      display: none;
    }

    & > .formatted-json-container {
      display: block;
    }
  }

  & > .root-container.raw {
    & > .raw-json-container {
      display: block;
    }

    & > .formatted-json-container {
      display: none;
    }
  }

  & > .root-container > {
    .raw-json-container {
      display: none;
    }

    .formatted-json-container {
      display: block;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
  }
}

pre {
  margin: 0;
  padding: 0;
}

.bracket {
  margin: 0 2px;
  color: #eeeeee;
}

.object {
  display: inline;

  .inner {
    padding-left: $indentation;
    display: block;
    border-left: 1px dotted #3b3b3b;

    .property {
      display: block;
    }
  }
}

.array {
  display: inline;

  .inner {
    padding-left: $indentation;
    display: block;

    .item {
      display: block;
    }
  }
}

.string {
  color: #5dd9ff;
  word-wrap: break-word;
}

.boolean,
.number {
  color: #9f84ff;
}

.key {
  color: #7dadf9;
  word-wrap: break-word;
}

.null {
  color: #717171;
}

.colon {
  margin: 0 4px 0 2px;
  color: #eeeeee;
}

.button-container {
  button {
    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:hover {
      background: #525252;
    }

    &.active {
      background: #2c2c2c;
      color: #b4b2b2;
      cursor: default;
    }

    padding: 5px 10px;
    background: #3b3b3b;
    color: #eeeeee;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s;
    min-width: 41px;
    display: block;
    user-select: none;
  }
}
