$indentation: 30px;

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('chrome-extension://__MSG_@@extension_id__/Monaco.woff') format('woff');
}

:host {
  display: flex;
  flex-direction: column;
  padding: $indentation;
  font-family: "Monaco", Arial, sans-serif;
  background: #282828;
  color: #eeeeee;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;

  pre {
    margin: 0;
    padding: 0;
    text-wrap: pretty;
    word-wrap: break-word;
    font-family: "Monaco", Arial, sans-serif;
    font-size: 14px;
  }

  & > .root-container.formatted {
    & > .raw-json-container {
      display: none;
    }

    & > .formatted-json-container {
      display: block;
    }

    & > .query-json-container {
      display: none;
    }
  }

  & > .root-container.raw {
    & > .raw-json-container {
      display: block;
    }

    & > .formatted-json-container {
      display: none;
    }

    & > .query-json-container {
      display: none;
    }
  }

  & > .root-container.query {
    & > .raw-json-container {
      display: none;
    }

    & > .formatted-json-container {
      display: none;
    }

    & > .query-json-container {
      display: block;
    }
  }

  & > .root-container > {
    .raw-json-container {
      display: none;
    }

    .formatted-json-container {
      display: block;
    }
  }

  .toolbox-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed;
    top: 15px;
    right: 30px;

    input {
      min-width: 200px;
      width: 30vw;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: row;
}

pre {
  margin: 0;
  padding: 0;
}

.bracket {
  color: #eeeeee;
}

.object {
  display: inline;

  .inner {
    padding-left: $indentation;
    display: block;
    border-left: 1px dotted #3b3b3b;

    .property {
      display: block;
      margin: 2px 0 2px 0;

      &.collapsed {
        & > .object,
        & > .array {
          .inner {
            display: none;
          }

          .ellipsis {
            display: inline;
          }

          & > .items-count,
          & > .properties-count {
            display: inline;
          }
        }
      }
    }
  }
}

.root {
  display: block;

  &.padding {
    margin-left: 17px;
  }

  &.collapsed {
    & > .object,
    & > .array {
      .inner {
        display: none;
      }

      .ellipsis {
        display: inline;
      }

      & > .items-count,
      & > .properties-count {
        display: inline;
      }
    }
  }
}

.array {
  display: inline;

  .inner {
    padding: 2px 0 2px $indentation;
    display: block;

    .item {
      display: block;
      margin: 2px 0 2px 0;

      &.collapsed {
        & > .object,
        & > .array {
          .inner {
            display: none;
          }

          .ellipsis {
            display: inline;
          }

          & > .items-count,
          & > .properties-count {
            display: inline;
          }
        }
      }
    }
  }
}

.items-count,
.properties-count {
  color: #717171;
  padding-left: 15px;
  display: none;
  user-select: none;
}

.string {
  color: #5dd9ff;
  word-wrap: break-word;
}

.boolean,
.number {
  color: #9f84ff;
}

.key {
  color: #7dadf9;
  word-wrap: break-word;
}

.null {
  color: #717171;
}

.colon {
  color: #eeeeee;
  padding: 0 7px 0 0;
}

.toolbox-container {
  gap: 10px;

  button {
    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:hover {
      background: #525252;
    }

    &.active {
      background: #2c2c2c;
      color: #b4b2b2;
      cursor: default;
    }

    padding: 5px 10px;
    background: #3b3b3b;
    color: #eeeeee;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s;
    min-width: 41px;
    display: block;
    user-select: none;
  }
}

.toggle {
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin-left: -17px;

  &:before {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent currentColor;
    transform: translateX(4px) rotate(90deg);
    transition: transform 0.1s;
    color: #575757;
  }

  &:hover:before {
    color: #a6a6a6;
  }
}

.ellipsis {
  &:before {
    content: '...';
    color: #717171;
    padding: 0 5px;
  }

  display: none;
  user-select: none;
}

.object,
.array {
  .bracket + .bracket {
    margin-left: 5px;
  }
}

.collapsed {
  & > .toggle:before {
    transform: translateX(4px) rotate(0deg);
  }

  & > .items-count,
  & > .properties-count {
    display: inline;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
  color: #6e6e6e;
  user-select: none;
  pointer-events: none;
  padding: 5em 0;

  img {
    width: 80%;
    max-width: 250px;
    user-select: none;
    pointer-events: none;
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
  }
}
