name: CI
run-name: CI [${{ github.head_ref || github.ref_name }}]

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  wasm:
    name: Build WASM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Cargo dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build WASM
        run: wasm-pack build
        working-directory: ./worker-wasm

      - name: Upload wasm-pkg artifact
        uses: actions/upload-artifact@v4
        with:
          name: wasm-pkg
          path: ./worker-wasm/pkg

  rust:
    name: Rust Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Cargo dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov

      - name: Run Rust tests with coverage
        working-directory: ./worker-wasm/core
        run: cargo llvm-cov --workspace --lcov --output-path rust-lcov.info

      - name: Upload Rust coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: rust-coverage
          path: worker-wasm/core/rust-lcov.info

  js:
    name: JS Coverage
    runs-on: ubuntu-latest
    needs: [wasm]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn

      - name: Download wasm-pkg artifact
        uses: actions/download-artifact@v4
        with:
          name: wasm-pkg
          path: ./worker-wasm/pkg

      - name: Install npm dependencies
        run: yarn install --immutable

      - name: Lint code
        run: yarn lint

      - name: Run tests with coverage
        run: yarn test:cover

      - name: Upload JS coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: js-coverage
          path: coverage/lcov.info

  build:
    name: Build Extension
    runs-on: ubuntu-latest
    needs: [wasm]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn

      - name: Download wasm-pkg artifact
        uses: actions/download-artifact@v4
        with:
          name: wasm-pkg
          path: ./worker-wasm/pkg

      - name: Install npm dependencies
        run: yarn install --immutable

      - name: Build extension
        run: make build-extension

      - name: Upload extension artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension
          path: dist

  analyze:
    name: Analyze with SonarCloud
    runs-on: ubuntu-latest
    needs: [build, rust, js]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Rust coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: rust-coverage
          path: ./worker-wasm/core

      - name: Download JS coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: js-coverage
          path: ./coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
