name: CI
run-name: CI [${{ github.head_ref || github.ref_name }}]

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  rust:
    name: Rust Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov

      - name: Test Rust + Coverage
        working-directory: ./worker-wasm/core
        run: cargo llvm-cov --workspace --lcov --output-path rust-lcov.info

      - uses: actions/upload-artifact@v4
        with:
          name: rust-coverage
          path: worker-wasm/core/rust-lcov.info

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build WASM
        run: wasm-pack build
        working-directory: ./worker-wasm

      - name: Test Rust
        run: cargo test --workspace --all-features
        working-directory: ./worker-wasm/core

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Build
        run: make

      - name: Test
        run: yarn test:cover

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
